html,
body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    color: #202020;
}

.content {
    width: 21cm;
    height: 29.7cm;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 2mm 2mm 2mm;
}

.title {
    font-family: 'Baloo Bhai', cursive;
    font-variant: small-caps;
    font-size: 1.5cm;
    margin: 0 auto;
    text-align: center;
    text-shadow: #ededed 3px 2px 0;
}

.row div {
    border-style: solid;
    border-color: rgb(88, 88, 88);
    border-right-width: 0.2mm;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0.2mm;

    display: inline-block;
    padding: 0;
    width: 2cm;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.row.double-border div {
    border-bottom-width: 0;
}

.row:first-of-type {
    border-style: solid;
    border-width: 0;
    border-top-width: 0.4mm;
    border-bottom-width: 0.4mm;
    border-color: rgb(59, 59, 59);
}
.row div:nth-child(4) {
    border-right-width: 0.4mm;
}
.row div:last-child {
    border-right-width: 0px;
}
.row:last-of-type {
    background-color: rgb(216, 216, 216);
}

.row {
    display: flex;
    height: 1.2cm;
    border-color: white;
}

.bonus {
    max-width: 1.5cm;
    font-size: 0.6cm;
}

.szansa {
    max-width: 1.12cm;
}

.uklad {
    font-weight: bold;
    min-width: 2.65cm;
}
.uklad2 {
    min-width: 2.55cm;
    font-size: 0.85em;
}

.header-row {
    background-color: rgb(218, 238, 202);
}

.double-border {
    border-bottom: 2px solid green;
}

.blue {
    background-color: rgb(229, 227, 252);
}

.yellow {
    background-color: rgb(255, 255, 217);
}

.bigger {
    font-size: 0.6cm;
    letter-spacing: -0.05cm;
}

.small-height {
    max-height: 0.6cm;
}
